@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --fonte-poppins: 'Poppins', sans-serif;
    --cor-azul: #1D3557;
    --cor-azul-claro: #62A8AC;
    --cor-marrom: #806F56;
    --cor-bege: #FEF0DC;
    --cor-roxo: #BBA0CA;
}


* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-poppins);
    box-sizing: border-box; 
    /*evita a soma do padding ao tamanho do box */
}

body {
    background-image: -moz-linear-gradient(var(--cor-bege), var(--cor-azul-claro));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    

}

body,main {
    width: 100%;
    font-family: var(--fonte-poppins);
    color: var(--cor-azul);
    box-sizing: border-box;
}

.cabecalho {
    position: fixed;
    right: 0;
    top: 0px;
    left: 0px;
    padding: 0 10px;
    background-color: var(--cor-marrom);
    
}
.section__pp {

}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    

}

.container__logo-titulo {
    display: flex;
    align-items: center;
    
    column-gap: 1%;
}

.container__logo-titulo_titulo {
    padding-top: 48px;
    font-size: 46px;
    font-weight: 700;
}

.container__logotipo {
    width: 120px;
}

.container__texto {
    font-size: 22px;
    font-weight: 600;
    padding-left: 50px;
}


