.container_receitas {
    background-color: #FEF0DC;
    margin: 20px 0;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.receita {
    width: 450px;
    height: 90vh;
    flex-grow: 1;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.img_receita {
    width: 80%;
}

.lista {
    list-style-position: inside;
}

.texto_preparo {
    border-top: 2px solid cornflowerblue ;
    padding-top: 15px;
    margin: 30px;
    
}